*.DS_Store
*.ipynb_checkpoints
*.pyc
#Don't commit data, figs, or presentations by default
*.png
*.jpg
*.jpeg
*.pdf
*.ppt*
*.key
env/
*.csv
*.txt
port
.virtual_documents
data/*.json
data/*.joblib
analysis/results/*.h5
code/legacy
.quarto/
presentations/_quarto
*.ipynb
.jupyter_cache
**/*.bak
analysis/motif_fmri
code/estimation.py
code/estimators.py
code/motif_fmri.py
code/searchlight.py
**/*.mp4
!action_vocab.csv
!location_vocab.csv
!trait_vocab.csv
!transcripts.csv
!recalls.csv
!annotated_recalls.csv
!ratings.csv
!Thorntonetal_verbset.csv

/env/
/.quarto/
